@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
h1{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight:bolder;
    font-size:40px;
    display:absolute;
    margin-top: 20%;
}
body{
    background-color: rgb(102, 94, 94);
    font-family: 'Fredoka One', cursive;
   
    
    
}
.button{
    display:flex;
    align-items: center;
    justify-content: center;

}
.btn{
    margin-top:20px;
    height: 50px;
   color:white;
    font-size:30px;
    background-color: #FAB201;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;

}